{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}

<div>
    <ul class="flex space-x-1 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Users</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
            <span>Profile</span>
        </li>
    </ul>
    <div class="pt-5">
        <div class="grid grid-cols-1 lg:grid-cols- xl:grid-cols-1 gap-5 mb-5">
            <div class="panel">
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white-light">Profile</h5>
                    <a href="{% url 'edit-profile' user.id%} " class="ltr:ml-auto rtl:mr-auto btn btn-primary p-2 rounded-full">

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
                            <path opacity="0.5" d="M4 22H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M14.6296 2.92142L13.8881 3.66293L7.07106 10.4799C6.60933 10.9416 6.37846 11.1725 6.17992 11.4271C5.94571 11.7273 5.74491 12.0522 5.58107 12.396C5.44219 12.6874 5.33894 12.9972 5.13245 13.6167L4.25745 16.2417L4.04356 16.8833C3.94194 17.1882 4.02128 17.5243 4.2485 17.7515C4.47573 17.9787 4.81182 18.0581 5.11667 17.9564L5.75834 17.7426L8.38334 16.8675L8.3834 16.8675C9.00284 16.6611 9.31256 16.5578 9.60398 16.4189C9.94775 16.2551 10.2727 16.0543 10.5729 15.8201C10.8275 15.6215 11.0583 15.3907 11.5201 14.929L11.5201 14.9289L18.3371 8.11195L19.0786 7.37044C20.3071 6.14188 20.3071 4.14999 19.0786 2.92142C17.85 1.69286 15.8581 1.69286 14.6296 2.92142Z" stroke="currentColor" stroke-width="1.5" />
                            <path opacity="0.5" d="M13.8879 3.66406C13.8879 3.66406 13.9806 5.23976 15.3709 6.63008C16.7613 8.0204 18.337 8.11308 18.337 8.11308M5.75821 17.7437L4.25732 16.2428" stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </a>
                </div>
                <div class="mb-5">
                    <div class="flex flex-col justify-center items-center">
                        <img src="{% static 'assets/images/' %}{{ user.profile_picture }}" alt="image" class="w-24 h-24 rounded-full object-cover  mb-5" />
                       <a href="{% url 'upload-image'%} ">
                       <button type="button" class="btn btn-outline-dark btn-sm">Upload Images</button></a> 
                        <p class="font-semibold text-primary text-xl">{{user}}</p>
                        

                    </div>
                   
                   
                    <ul class="mt-5 flex flex-col max-w-[160px] m-auto space-y-4 font-semibold text-white-dark">
                        <li>
                            <a href="javascript:;" class="flex items-center gap-2">

                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
                                        <circle cx="12" cy="6" r="4" fill="currentColor"/>
                                        <path opacity="0.5" d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z" fill="currentColor"/> 
                                </svg>
                                <span class="text-primary">First Name : {{user.first_name}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="flex items-center gap-2">

                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
                                    <circle cx="12" cy="6" r="4" fill="currentColor"/>
                                    <path opacity="0.5" d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z" fill="currentColor"/> 
                                </svg>
                                <span class="text-primary">Last Name :{{user.last_name}}</span></a>
                        </li>
                      
                      
                        <li>
                            <a href="javascript:;" class="flex items-center gap-2">

                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
                                    <path opacity="0.5" d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12C22 15.7712 22 17.6569 20.8284 18.8284C19.6569 20 17.7712 20 14 20H10C6.22876 20 4.34315 20 3.17157 18.8284C2 17.6569 2 15.7712 2 12Z" stroke="currentColor" stroke-width="1.5" />
                                    <path d="M6 8L8.1589 9.79908C9.99553 11.3296 10.9139 12.0949 12 12.0949C13.0861 12.0949 14.0045 11.3296 15.8411 9.79908L18 8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                                <span class="text-primary">{{user.email}}</span></a>
                        </li>
                       
                    </ul>
                   
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}