{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}

<ul class="flex space-x-2 rtl:space-x-reverse">
    <li>
        <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
   
    <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
        <span>Upload Image</span>
    </li>
</ul>
<br>

<div class="panel">
    <form id ="form"class="border border-[#ebedf2] dark:border-[#191e3a] rounded-md p-4 mb-5 bg-white dark:bg-[#0e1726]" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
        <div class="mb-5">
            <label for="fridDocument">Attach a image</label>
            <input id="ctnFile" type="file" name="profile_picture" accept="image/jpeg, image/png" class="form-input file:py-2 file:px-4 file:border-0 file:font-semibold p-0 file:bg-primary/90 ltr:file:mr-5 rtl:file:ml-5 file:text-white file:hover:bg-primary" required />

        </div>
        <button type="submit" class="btn btn-primary !mt-6">Upload</button>

    </form>
</div>



{% endblock %}


<!-- script -->

