{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}


    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
            <span>Add Lecturer</span>
        </li>
    </ul>


  <div class="panel">
    <form class="space-y-5" method='POST' id="form">
        <!-- Error -->

<!-- end of Error-->
        {% csrf_token %}
        <div>
            <label for="gridFirstName">Username</label>
            <input name="username" id="username" type="text" placeholder="Enter Username" class="form-input" required/>
           
               <p class="font-weight-light text-secondary text-sm">Username must 150 characters or fewer. Letters, digits and @/./+/-/_ only</p>
            
        </div>
        <div>
            <label for="gridFirstName">First Name</label>
            <input name="first_name" id="first_name" type="text" placeholder="Enter First Name" class="form-input" required/>
        </div>
        <div>
            <label for="gridLastName">Last Name</label>
            <input name="last_name" id="last_name" type="text" placeholder="Enter Last Name" class="form-input" required/>
            

        </div>
        <div>
            <label for="gridEmail">Email</label>
            <input name="email"id="email" type="email" placeholder="Enter Email" class="form-input" required/>
        </div>
        <div>
            <label for="gridPassword">Password</label>
            <input name="password1"id="password1" type="Password" placeholder="Enter Password" class="form-input" required/>
            <p class="font-weight-light text-secondary text-sm">The password cant  similar to the username</p>

        </div>
        <div>
            <label for="gridPassword">Confirm Password</label>
            <input name="password2" id="password2" type="Password" placeholder="Enter Password" class="form-input" required/>
        </div>
       
        <button type="submit" class="btn btn-primary !mt-6">Submit</button>
    </form>
        </div>
{% endblock %}

{% block javascript %}

{% endblock javascript %}
