{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}

{% comment %} <link defer rel='stylesheet' type='text/css'  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" /> {% endcomment %}
{% comment %} <link defer rel='stylesheet' type='text/css'  href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" />
<link defer rel='stylesheet' type='text/css'  href="https://cdn.datatables.net/1.13.4/css/dataTables.semanticui.min.css" />
 {% endcomment %}
 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% comment %} <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script> {% endcomment %}




    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
            <span>Attendance Sessions</span>
        </li>
    </ul>
    <br>
    <div class="panel">
        <h5 class="font-semibold text-lg dark:text-white-light">Class</h5>
        <div class="table-responsive" >
            <table>
                
                <tr>
                    <td width="20%" align="right">Code</td>
                    <td width="4%" align="center">:</td>
                    <td>{{ class_info.course_code }}</td>
                </tr>
                <tr>
                    <td width="20%" align="right">Name</td>
                    <td width="4%" align="center">:</td>
                    <td>{{ class_info.course_name }}</td>
                </tr>
                    <td width="20%" align="right">Lecturer</td>
                    <td width="4%" align="center">:</td>
                    <td>{{ class_info.lecturer__first_name}}{{class_info.lecturer__last_name}}</td>
                <tr>
                    <td width="20%" align="right">Total Session</td>
                    <td width="4%" align="center">:</td>
                    <td>{{total_session}}</td>
                </tr>
            
            </table>
        </div>
        <br><br>
            <table id="tlect" class="table-hover">
                <thead >
                    <tr>
                        <th>#</th>
                        <th>Day</th>
                        <th>Sessions</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in attend_sessions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ session.course__timetable__DayOfTheWeek }}</td>
                        <td>
                            <a href="{% url 'attendance-report' date=session.date|date:'Y-m-d' course_id=session.course_id %}" style="color: blue;">
                                {{ session.next_date|date:"d/m/Y" }}
                            </a>
                        </td>
                        <td>{{ session.course__timetable__StartTime }}</td>
                        <td>{{ session.course__timetable__EndTime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% block javascript %}
<script>
    $(document).ready(function(){
        $('#tlect').DataTable({
           "searching": false
        });
       
        
    });
</script>
{% endblock javascript %}

{% endblock content %}
