{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}

{% comment %} <link defer rel='stylesheet' type='text/css'  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" /> {% endcomment %}
{% comment %} <link defer rel='stylesheet' type='text/css'  href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" />
<link defer rel='stylesheet' type='text/css'  href="https://cdn.datatables.net/1.13.4/css/dataTables.semanticui.min.css" />
 {% endcomment %}
 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% comment %} <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script> {% endcomment %}




    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
            <span>Leave Application</span>
        </li>
    </ul>
    <br>
    <div class="panel" class="space-y-5">
        <h5 class="font-semibold text-lg dark:text-white-light">Leave Application</h5>
        <div class="table-responsive" >

        <form method="post" enctype="multipart/form-data" class="space-y-5">
            {% csrf_token %}
            <div>
                <label for="attendanceSelection">Select Attendance</label>
                <select name="attendance_id" id="attendanceSelection" class="form-select text-white-dark" onchange="updateClassSession()">
                    <option>Select Class</option>
                    {% for attendance in attendances %}
                    <option value="{{ attendance.id }}" data-timestamp="{{ attendance.timestamp|date:'d/m/Y' }}">
                        {{ attendance.course.course_code }} - {{ attendance.course.course_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="gridFirstName">Class Sessions</label>
                <input id="disInput" type="text"  class="form-input form-select text-white-dark" readOnly />
            </div>
            <div>
                <label for="leave_type">Leave Type</label>
                <select name="leave_type" id="leave_type" class="form-select text-white-dark">
                    <option>Select Leave Type</option>
                    <option value="mc">Medical Leave</option>
                    <option value="el">Exemption Letter</option>
                </select>     
            </div>
            <div class="mb-5">
                <label for="fridDocument">Attach supporting document</label>
                <input id="ctnFile" type="file" name="document" accept="image/jpeg, image/png, application/pdf" class="form-input file:py-2 file:px-4 file:border-0 file:font-semibold p-0 file:bg-primary/90 ltr:file:mr-5 rtl:file:ml-5 file:text-white file:hover:bg-primary" required />

            </div>
            <button type="submit" class="btn btn-primary !mt-6">Submit</button>

        </form>
    </div>
</div>

<script>
    function updateClassSession() {
        var selectElement = document.getElementById('attendanceSelection');
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var timestamp = selectedOption.getAttribute('data-timestamp');
        document.getElementById('disInput').value = timestamp;
    }
</script>

{% endblock content %}
