{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/file-upload-with-preview.min.css' %}" />
<script src="{% static 'assets/js/file-upload-with-preview.iife.js' %}"></script>
<script src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js"></script>

<ul class="flex space-x-2 rtl:space-x-reverse">
    <li>
        <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
   
    <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
        <span>Upload Image</span>
    </li>
</ul>
<br>

<div class="panel">
    <h1 class="font-semibold text-lg dark:text-white-light mb-5">Upload Images for Face Recognition Attendance</h1>
    <p class="font-bold">
        Please follow these simple steps to complete the upload process:
      </p>
  
      <ul>
        <li>1. Ensure your face is well-lit and clearly visible in the images you upload.</li>
        <li>2. Click the "Choose File" button below to select one or more images from your device.</li>
        <li>3. Click the "Upload" button to submit your images securely.</li>
        <li>4. Wait for the confirmation message indicating the successful upload of your images.</li>
      </ul>
      <br>
      <p>
        Your uploaded images will be used solely for the purpose of facial recognition during attendance tracking.
      </p>
</div>
<br>
<div class="panel">
    <form id ="form"class="border border-[#ebedf2] dark:border-[#191e3a] rounded-md p-4 mb-5 bg-white dark:bg-[#0e1726]" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
            <div class="mb-5">
                {% comment %} <div class="custom-file-container" name="profile_picture" id="profile_picture" type="file" data-upload-id="profile_picture" accept="image/*" ></div> {% endcomment %}
                <input class="custom-file-container"  type="file" name="profile_picture" data-upload-id="profile_picture" accept="image/jpeg, image/png" multiple/>
            </div>
        <button type="submit" class="btn btn-primary !mt-6">Upload</button>

    </form>
</div>


{% endblock %}


<!-- script -->

