{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}

{% comment %} <link defer rel='stylesheet' type='text/css'  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" /> {% endcomment %}
{% comment %} <link defer rel='stylesheet' type='text/css'  href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" />
<link defer rel='stylesheet' type='text/css'  href="https://cdn.datatables.net/1.13.4/css/dataTables.semanticui.min.css" />
 {% endcomment %}
 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% comment %} <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script> {% endcomment %}




    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
            <span>Attendance</span>
        </li>
    </ul>
    <br>
    <div class="panel">
        <h5 class="font-semibold text-lg dark:text-white-light">Class</h5>
            <table id="tlect" class="table-hover ">
                <thead >
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>%Absent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in attendance_info %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ entry.course.course_code }}</td>
                        <td>
                            <a href="{% url 'attendance-statistic' entry.course.id %}" style="color: blue;">
                                {{ entry.course.course_name }}
                            </a>
                        </td>
                        <td>{{ entry.absent_percentage }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% block javascript %}
<script>
    $(document).ready(function(){
        $('#tlect').DataTable({
           "searching": false

            
        });
       
        
    });
</script>
{% endblock javascript %}

{% endblock content %}
